h1 {
        font-family: "Times New Roman", Times, serif; color: black;
        font-size: 24pt; 
        }
h2 {
        color: blue; font-size: 12pt;
        }
 h2 {
        color: white; text-align: center; font-size: 10pt;
        }
h3 {
                color: rgb(0, 0, 0); text-align: left; font-size: 10pt;
                }
h4 {
        color: black;text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 8pt;
}

.container-fluid {
        background-color: #a2b2c3;
        height: 60px;
       
    }
    .d-flex{
        width: 400px;
    }
    .carousel-inner{
        background-color: #eeeeef;
    }